
<div class="container">

 <!-- <img src="assets/image/image.jpg" style="background-size: cover ;background-position: center; ">  -->

    <!-- <div class="services">
        <h1><B><u>Courses Offered</u></B></h1>
    </div> -->
    <div class="jumbotron text-center bg-secondary"> 
        <h2>Courses Offered</h2>
     </div> 
    <div class="row">
        <div class="col-md-3 text-center">
            <div class="icon">
                <i class="fa fa-user-circle-o"style="font-size:52px;"></i>
            </div>
            <h3>Commerce</h3>
            <p>
                The Department reveals its enthusiasm in the academia with regular<br> publications.
                 In 2007, the Department celebrated its Golden Jubilee and as a memorial of this,
                  the Department launched a<br> full fledged computer lab with the support of alumni. 
                  The Department <br>is regularly hosting academic-oriented programs to equip and
                   nurture the students. 
            </p><br>
        </div>

        <div class="col-md-3 text-center">
            <div class="icon">
                <i class="fa fa-flask" style="font-size:52px;"></i>
            </div>
            <h3>Science</h3>
            <p>Expertizes in modern software technologies,exposure to<br> agile methodsand domain-specific
                standards<br>enable us design,develop and sustain software that go<br> into products and solutions across<br>
                multiple platforms.

            </p><br>
        </div>
        <div class="col-md-3 text-center">
            <div class="icon">
                <i class="fa fa-paint-brush" style="font-size:52px;"></i>
            </div>
            <h3>Arts</h3>
            <p>The domain expertize in embedded product engineering help <br>our customers develop and deploy
                products faster, reduce<br> development cost and time to market.Our <br>hands-on-work with various embedded
                platforms<br> and operating system helps to bring<br>consistent experience.
            </p><br>
        </div>

        <div class="col-md-3 text-center">
            <div class="icon">
                <i class="fa fa-university" style="font-size:52px;"></i>

            </div>
            <h3>Banking</h3>
            <p>Supports new product development initiatives,product modification <br>to fulfill new orders,various
                improvement<br>initiatives for products in services,invstigate<br> problems and suggests solutions that helped OEMs
                to reduce<br>cost and weight while improving the performance.

            </p><br>
        </div>

        <div class="col-md-3 text-center">
            <div class="icon">
                <i class="fa fa-television" style="font-size:52px;"></i>
            </div>
            <h3>Visual Media</h3>
            <p>Understands the challenge faced by the industry<br> in terms of lack of understanding and
                execution process<br> inconsistency across business units.Outsource to us and ensure<br> employee
                satisfaction.Our managed services approach relieves<br> from supplier management hazzles.
            </p><br>
        </div>

        <div class="col-md-3 text-center">
            <div class="icon">
                <i class="fa fa-balance-scale" style="font-size:58px;"></i>
            </div>
            <h3>Law</h3>
            <p>Enables its customers to become smart and innovative enterprises through<br> our expertize in Digital
                enterprises through our expertize in Digital <br>Enterprise software solutions,cloud and
                infrastructure services.

            </p><br>
        </div>
    </div>
</div>
