<div>
    <ul>

        <!-- <li><a routerLink="/home" routerLinkActive="active">Home</a> </li>
        <li><a routerLink="/student" routerLinkActive="active">Student</a> </li> -->
        <!-- <li><a routerLink="/batch-details" routerLinkActive="active">batch details</a> </li>
        <li><a routerLink="/fee-details" routerLinkActive="active">fee details</a> </li>
        <li><a routerLink="/emergency-contact" routerLinkActive="active"> emergency contact</a> </li> -->
        <!-- <li><a routerLink="/addstudent" routerLinkActive="active">Add Student </a> </li> -->
        <!-- <li><a routerLink="/login" routerLinkActive="active">Login </a> </li> -->
    </ul>
</div>
