ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    /* background-color: #f1f1f1; */
    background-color:#da2f2f86;
    position: fixed;
    height: 100%;
    /* overflow: auto; */
  }
  
  li a {
    display: block;
    color :grey;
    padding: 8px 8px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #da2f2f86;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #7fc596;
    color: white;
  }