<!-- <div class="fixed-header">
  <h2>College</h2>
   </div>  -->
   
<!-- <div class="topspace alignment2" >
  <app-menu></app-menu>
   </div>
   <div class="forcompo">
     <router-outlet></router-outlet>
   </div>    
   <div class="fixed-footer">
     <div class="container">Copyright &copy; 2020  Company</div>        
   </div>  -->

<!-- <app-login></app-login> -->

  <app-admin></app-admin>   

      <!-- <app-login 
  *ngIf="checkvalue()">
    
  </app-login>    -->

<!-- <app-loginsuccess></app-loginsuccess> -->

  <!-- <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
    <a href="#" class="navbar-brand">College Management</a>
    </div> 
 <div>
    <ul class="nav navbar-nav">

      
       <li routerLinkActive="active">
         <a routerLink="/login">Login</a>
        </li> 
 <li routerLinkActive="active">
        <a routerLink="/home">Home</a>
       </li>   
          </ul>
  </div> 
 </div>
</nav> -->
  
 

  <!-- <nav class="navbar navbar-dark bg-dark">
 <a href="#" class="navbar-brand">College Management</a>
  <div class="navbar-nav mr-auto">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class ="nav-item">
        <a routerLink="/home" class="nav-link">Home</a>
       </li> 
<li class ="nav-item">
       <a routerLink="/student" class="nav-link">Student</a>
      </li>   

      <li class ="nav-item">
         <a routerLink="/addstudent" class="nav-link">Add Student</a>
        </li>  
         -->
         <!-- <li class ="nav-item">
         <a routerLink="" (click)="logout()" class="nav-link">Logout</a>
        </li>  -->

        <!-- </ul>  
      </div>
  
    </nav> 
      <router-outlet></router-outlet>      -->
 




  


 