.parent{
    align-content: center;
    text-align: center;
   
}

.container {

   align-content: center;
   text-align: center;
   justify-content: center;
   
    font-style: italic;
}
/* .bg{
    background-color: cadetblue;
    
} */