<div class="bg">
<div class="parent">
<h1>ST. THOMAS COLLEGE, THRISSUR </h1>
<img src="assets/image/logo.jpg">
</div>




<div class="container">

<p>
    College with potential for excellence,NAAC mentor college funded insttitution<br>
</p>
</div>
<p>
    St. Thomas’ College was founded as an educational institution in 1889 by the then
     Vicar Apostolic of Thrissur, Rt. Rev. Adolphus Edwin Medlycott, PhD, a former Professor<br>
      of Rhetoric at the Propaganda College, Rome. The College began as a High School in 1894 under
     the managership of Fr. Zambanelli, and Fr. Paul Alappatt, Ph.D. was appointed as the Manager and<br>
      Rector of the institution in 1895. The University of Madras gave formal affiliation in 
      Group III in April 1919 and the St. Thomas’ High School formally became a Second Grade College<br>
     with Fr. John Palocaren as the first Principal. The Junior Intermediate College started on 
     8th June 1919 with 96 students and 5 teachers. The College rose to the status of a First<br>
      Grade College in History Group in March 1925. With the formation of Universities in Kerala,
     the College was affiliated to the University of Kerala in 1957 and to the University of Calicut<br>
        in 1968. St. Thomas’ College was accredited for the second time in 2010 by the National
         Assessment and Accreditation Council with A grade for a period of five years with CGPA of 3.58<br>
          on a four point scale. In the third Cycle of NAAC accreditation, the college was granted A Grade
           with 3. The UGC granted Autonomous Status to the College on 13.06.2014. The UGC confirmed<br>
         St. Thomas College with the status of ‘College with Potential for Excellence’. 
</p>


</div>



